@font-face {
  font-family: "baby";
  src: url("./fonts/babies.ttf");
}

body {
  margin: auto 0;
  background-image: url("./images/stars.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: baby;
  min-height: 100px;
}

.container {
  display: flex;
  align-content: center;
  align-items: flex-start;
  justify-content: space-evenly;
  flex: 1;
  min-height: 90vh;
  margin-top: 40px;
}

canvas {
  background-image: url("./images/sleeping-baby.jpg");
  background-repeat: repeat-y;
  background-size: 520px 520px;
  background-position: center;
  margin-left: 60px;
}

p {
  font-family: baby;
  font-size: 1.5em;
}

button {
  width: 15vh;
  height: 10vh;
  font-family: baby;
  font-size: 1.5em;
  cursor: pointer;
  margin-top: 20px;
  margin-left: 5px;
}

.game-intro {
  height: 70vh;
}

#game-score {
  color: blue;
  font-size: 1.5em;
  height: 10vh;
  margin-top: 10px;
}

#game-level {
  color: blue;
  font-size: 1.5em;
  height: 10vh;
}

h3 {
  text-align: center;
  font-size: 1.5em;
  margin-right: 70px;
}

#your-score,
#your-level {
  border: 1px solid white;
  background-color: white;
  height: 5vh;
  margin-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.score-box,
.level-box {
  border: 1px solid white;
  margin-top: 10px;
  background-color: white;
  height: 5vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.info-boxes {
  display: flex;
  justify-content: space-around;
  align-content: center;
}

#game-score {
  margin-right: 5px;
  margin-top: 5px;
}

#game-level {
  margin-left: 1px;
  margin-top: 5px;
}
