

@font-face {
  font-family: "baby";
  src: url("./fonts/babies.ttf");
}

body {
  margin: auto 0;
  background-image: url("./images/stars.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-content: center;
  align-items: flex-start;
  justify-content: space-evenly;
  font-family: baby;
}


.quiet {
  width: 30vh;
  height: 35vh;
  margin-bottom: 20px; 
}

p {
  font-family: baby;
  font-size: 1.5em;
}

button{
  width: 20vh;
  height: 10vh;
  font-family: baby;
  font-size: 1.5em;
}

.game-intro {
  height: 70vh;
}
/* .main {
  display: flex;
  justify-content: center;
  align-content: center;
  position: relative;
  list-style: none;
  width: 500px;
  height: 200px;
  margin-bottom: 20;
}

li {
  padding: 20px;
}

.title {
  flex: 0 1 auto;
  width: 400vh;
  height: 100vh;
  position: absolute; /* new */


/* .game-intro {
  grid-column: 1/2;
  color: blue;
} */

canvas {
  border: 1px solid blue;
  background-image: url("./images/sleeping-baby.jpg");
  background-repeat: repeat-y;
  background-size: 790px 790px;
  background-position: center;
  margin-top: 40px;
} 

#game-score {
  color: blue;
  font-size: 1.5em;
} 

#game-level {
  color: blue;
  font-size: 1.5em;

}

/*

footer {
  text-align: center;
  background-color: blueviolet; */
  /* position: fixed;
  width: 100%; */
}

/* #score-box {
  border: 1px solid red;
  height: 40px;
  width: 30%;
} */ 
